// @import './s/200/result.css'
@import './s/300/result.css'
// @import './s/400/result.css'
@import './s/500/result.css'
// @import './s/700/result.css'
// @import './s/800/result.css'
@import './h.styl'
@import './c.styl'
